{{ .Scratch.Set "class-title" "w-4/5 lg:w-2/5 absolute top-[-20px] left-8 lg:left-12 z-10 py-1 px-8 font-bold text-[18px] lg:text-[20px] text-white text-center bg-black" }}
{{ .Scratch.Set "class-heading" "font-bold text-[18px] lg:text-[26px] mb-4 lg:mb-8 leading-loose" }}
{{ .Scratch.Set "class-description" "text-[14px] lg:text-[16px] leading-7" }}

<div class="absolute top-[40vw] lg:top-auto lg:bottom-[-32px] left-0 w-11/12 lg:w-auto">
    {{ partial "atom/p.param-title.html" . }} 
    <div class="full max-w-4xl bg-[#399999] bg-opacity-50 py-6 lg:py-20 pl-6 lg:pl-20 pr-8 lg:pr-28 text-white">
        {{ partial "atom/p.param-heading.html" . }} 
        {{ partial "atom/p.param-description.html" . }} 
    </div>
</div>

{{ .Scratch.Delete "class-description" }}
{{ .Scratch.Delete "class-heading" }}
{{ .Scratch.Delete "class-title" }}
