<div class="swiper-slide">
    {{ partial "molecule/div.slide-texts.html" . }} 

    {{ .Scratch.Set "class" "w-full lg:w-2/3 object-cover aspect-video mr-20 lg:mr-0 lg:ml-auto" }}
    {{ .Scratch.Set "src" .Params.slideImage }}
    {{ .Scratch.Set "quolity" "90" }}
    {{ .Scratch.Set "type" "content" }}

        {{ partial "atom/atom-picture.html" . }} 

    {{ .Scratch.Delete "class" }}
    {{ .Scratch.Delete "src" }}
    {{ .Scratch.Delete "quolity" }}
    {{ .Scratch.Delete "type" }}
</div>