<div id="accordion-collapse-heading-{{ .Params.title }}" class="flex items-center text-[13px] lg:text-[18px] relative">
    <span class="block py-4 px-6 text-[#078080] lg:bg-[#078080] lg:text-white text-[18px]">Q</span>
    <p class="py-4 pr-12 lg:px-6 font-bold">{{ .Params.question }}</p>
    <button type="button" data-accordion-target="#accordion-collapse-body-{{ .Params.title }}" aria-expanded="false" aria-controls="accordion-collapse-body-{{ .Params.title }}" class="text-[32px] lg:text-[40px] text-gray-400 absolute top-0 right-4 h-8">+</button>
</div>  