{{ define "main"}}

<main>

    {{ range (where .Site.RegularPages ".Params.isChapter" "eq" true) }}
        {{ .Content }}
    {{ end }}
    
    {{ .Scratch.Set "class" "text-center" }}
    {{ partial "organism/section.html" . }}
    {{ .Scratch.Delete "class" }}

    {{ .Scratch.Set "class" "text-left" }}
    {{ partial "organism/section.html" . }}
    {{ .Scratch.Delete "class" }}

    {{ .Scratch.Set "class" "text-center" }}
    {{ partial "organism/section.html" . }}
    {{ .Scratch.Delete "class" }}

    {{ .Scratch.Set "class" "text-center" }}
    {{ partial "organism/section.html" . }}
    {{ .Scratch.Delete "class" }}

</main>
{{ end }}