{{ define "main"}}

<main>
    {{ partial "organism/section.slider.html" . }}

    {{ range (where .Site.RegularPages.ByWeight ".Params.isChapter" "eq" true) }}
        {{ .Content }}
    {{ end }}
        
    {{ .Content }}

    {{ partial "organism/section.faq.html" . }}

    {{/*  {{ .Scratch.Set "class" "text-center" }}
    {{ partial "organism/section.html" . }}
    {{ .Scratch.Delete "class" }}

    {{ .Scratch.Set "class" "text-left" }}
    {{ partial "organism/section.html" . }}
    {{ .Scratch.Delete "class" }}

    {{ .Scratch.Set "class" "text-center" }}
    {{ partial "organism/section.html" . }}
    {{ .Scratch.Delete "class" }}

    {{ .Scratch.Set "class" "text-center" }}
    {{ partial "organism/section.html" . }}
    {{ .Scratch.Delete "class" }}  */}}

</main>
{{ end }}