<footer>
    <div class="lg:w-4/5 lg:max-w-5xl mx-auto flex justify-between items-center py-10">
        <div class="text-[20px] md:text-[30px] font-bold pl-4 md:ml-8">Paasのススメ</div>
        <nav>
            <ul class="flex font-bold">
                <li><a href="">個人情報保護方針</a></li>
                <li><a href="">会社案内</a></li>
            </ul>
        </nav>
    </div>
    <div class="bg-black text-white text-center">
        <small>All Rights Reserved,Copyright（C）2022 Paasのススメ | Andaze Ltd.</small>
    </div>
</footer>
{{ partial "smtpjs.html" . }}
