<header class="fixed inset-0 bg-white z-50 h-fit">
    <div class="w-full xl:max-w-[1440px] mx-auto flex justify-between">
        <div class="text-[20px] md:text-[30px] leading-[2.5] font-bold pl-4 md:ml-8">Paasのススメ</div>
        
        {{ .Scratch.Set "button-class" "bg-black flex items-center p-4 md:py-6 md:px-12" }}
        {{ .Scratch.Set "button-link" "#contact-section" }}

            {{ partial "molecule/a.button-with-icon.html" . }}

        {{ .Scratch.Delete "button-link" }}
        {{ .Scratch.Delete "button-class" }}

    </div>
</header>