<header class="fixed inset-0 bg-white z-50 h-fit">
    <div class="container xl:!max-w-[1440px] mx-auto flex justify-between">
        <div class="text-[30px] leading-[2.5] font-bold ml-8">Paasのススメ</div>
        
        {{ .Scratch.Set "button-class" "bg-black flex items-center py-6 px-12" }}
        {{ .Scratch.Set "button-link" "#" }}

            {{ partial "molecule/a.button-with-icon.html" . }}

        {{ .Scratch.Delete "button-link" }}
        {{ .Scratch.Delete "button-class" }}

    </div>
</header>