{{ if (eq true .Params.isSmtpJs) }}
<script defer src="https://smtpjs.com/v3/smtp.js"></script>
<script defer>
    (function () {

        const forms = document.querySelectorAll("form.smtpjs-form");
        const secureToken = '{{- .Site.Params.smtpjs.secureToken | default false -}}';
        const adminMail = '{{- .Site.Params.smtpjs.adminMail | default false -}}';
        const bccMail = '{{- .Site.Params.smtpjs.bccMail | default false -}}';
        const fromMail = '{{- .Site.Params.smtpjs.fromMail | default false -}}';
        let subject, alertMessage, bodyHeader, bodyFooter;

        forms.forEach(function (form) {
            form.addEventListener("submit", function (e) {
                e.preventDefault();
                const data = new FormData(form);
                let toEmail = '';
                let bodyMain = '<br/>';
                for (const [name, value] of data) {
                    if (name == 'email') {
                        toEmail = value;
                    }else{
                        bodyMain = bodyMain.concat(name, " : <br/>", value, "<br/><br/>");
                    }
                }
                if (form.classList.contains('download')) {
                    subject = '{{- .Site.Params.smtpjs.messagesDownload.subject -}}';
                    alertMessage = '{{- .Site.Params.smtpjs.messagesDownload.alert -}}';
                    bodyHeader = '{{- .Site.Params.smtpjs.messagesDownload.bodyHeader -}}';
                    bodyFooter = '{{- .Site.Params.smtpjs.messagesDownload.bodyFooter -}}';
                } else {
                    subject = '{{- .Site.Params.smtpjs.messagesContact.subject -}}';
                    alertMessage = '{{- .Site.Params.smtpjs.messagesContact.alert -}}';
                    bodyHeader = '{{- .Site.Params.smtpjs.messagesContact.bodyHeader -}}';
                    bodyFooter = '{{- .Site.Params.smtpjs.messagesContact.bodyFooter -}}';
                }
                submitted(toEmail, `${bodyHeader}<br/>${bodyMain}<br/>${bodyFooter}`, alertMessage);
            })
        });

        function submitted(to_email, body, dialog_message) {
            const email = Email.send({
                SecureToken: secureToken,
                To: to_email,
                From: fromMail,
                Bcc: bccMail,
                Subject: subject,
                Body: body,
            }).then(
                message => {
                    alert(dialog_message)
                }
            );
        }

    })();
</script>
{{ end }}