{{ if (eq true .Params.isSmtpJs) }}
<script defer src="https://smtpjs.com/v3/smtp.js"></script>
<script defer>
    (function () {

        const forms = document.querySelectorAll("form.smtpjs-form");
        const secureToken = '{{- .Site.Params.smtpjs.secureToken | default false -}}';
        const adminMail = '{{- .Site.Params.smtpjs.adminMail | default false -}}';
        const bccMail = '{{- .Site.Params.smtpjs.bccMail | default false -}}';
        const fromMail = '{{- .Site.Params.smtpjs.fromMail | default false -}}';
        let subject, alertMessage, bodyHeader, bodyFooter;

        forms.forEach(function (form) {
            form.addEventListener("submit", function (e) {
                e.preventDefault();
                const data = new FormData(form);
                let toEmail = '';
                let bodyMain = '<br/>';
                for (const [name, value] of data) {
                    if (name == 'email') {
                        toEmail = value;
                    }else{
                        bodyMain = bodyMain.concat(name, " : <br/>", value, "<br/><br/>");
                    }
                }

                // ダウンロードの場合とお問い合わせの場合でメッセージを出し分け
                subject = form.classList.contains('download') ? '{{- .Site.Params.smtpjs.messagesDownload.subject -}}' : '{{- .Site.Params.smtpjs.messagesContact.subject -}}';
                alertMessage = form.classList.contains('download') ? '{{- .Site.Params.smtpjs.messagesDownload.alert -}}' : '{{- .Site.Params.smtpjs.messagesContact.alert -}}';
                bodyHeader = form.classList.contains('download') ? '{{- .Site.Params.smtpjs.messagesDownload.bodyHeader -}}' : '{{- .Site.Params.smtpjs.messagesContact.bodyHeader -}}';
                bodyFooter = form.classList.contains('download') ? '{{- .Site.Params.smtpjs.messagesDownload.bodyFooter -}}' : '{{- .Site.Params.smtpjs.messagesContact.bodyFooter -}}';

                submitted(toEmail, `${bodyHeader}<br/>${bodyMain}<br/>${bodyFooter}`, alertMessage, form);
            })
        });

        function submitted(to_email, body, dialog_message, form) {

            const email = Email.send({
                SecureToken: secureToken,
                To: to_email,
                From: fromMail,
                Bcc: bccMail,
                Subject: subject,
                Body: body,
            }).then(
                message => {
                    alert(dialog_message)
                }
            )
        }

    })();
</script>
{{ end }}