<section class="swiper h-[80vh] max-h-[600px] lg:h-auto lg:max-h-none xl:max-w-7xl xl:mx-auto w-full mb-14 relative mt-20 lg:mt-32">
    <div class="swiper-wrapper mb-20 !h-1/2 lg:h-auto">
        {{ range (where .Site.RegularPages.ByWeight ".Params.isKeyVisual" "eq" true) }}
            {{ partial "molecule/div.swiper-slide.html" . }} 
        {{ end }}
    </div>
    <div class="swiper-pagination [&>.swiper-pagination-bullet]:h-3 [&>.swiper-pagination-bullet]:w-3 [&>.swiper-pagination-bullet]:bg-[#044D4D]"></div>
</section>
