{{ if and (.Get "words1") (.Get "words2") (.Get "words3") }}

    {{ .Scratch.Set "words1" (.Get "words1") }}
    {{ .Scratch.Set "words2" (.Get "words2") }}
    {{ .Scratch.Set "words3" (.Get "words3") }}

    {{ $words1 := default "" (.Scratch.Get "words1") }}
    {{ $words2 := default "" (.Scratch.Get "words2") }}
    {{ $words3 := default "" (.Scratch.Get "words3") }}
    {{ $opt_class := default "" (.Scratch.Get "text-class") }}

    <p class="{{ $opt_class }}">{{ $words1 }}<br>{{ $words2 }}<br>{{ $words3 }}</p> 

    {{ .Scratch.Delete "text-class" }}
    {{ .Scratch.Delete "words3" }}
    {{ .Scratch.Delete "words2" }}
    {{ .Scratch.Delete "words1" }}

{{ else if and (.Get "words1") (.Get "words2") }}

    {{ .Scratch.Set "words1" (.Get "words1") }}
    {{ .Scratch.Set "words2" (.Get "words2") }}

    {{ $words1 := default "" (.Scratch.Get "words1") }}
    {{ $words2 := default "" (.Scratch.Get "words2") }}
    {{ $opt_class := default "" (.Scratch.Get "text-class") }}

    <p class="{{ $opt_class }}">{{ $words1 }}<br>{{ $words2 }}</p> 

    {{ .Scratch.Delete "text-class" }}
    {{ .Scratch.Delete "words2" }}
    {{ .Scratch.Delete "words1" }}

{{ else if .Get "words1" }}

    {{ .Scratch.Set "words1" (.Get "words1") }}

    {{ $words1 := default "" (.Scratch.Get "words1") }}
    {{ $opt_class := default "" (.Scratch.Get "text-class") }}

    <p class="{{ $opt_class }}">{{ $words1 }}</p> 

    {{ .Scratch.Delete "text-class" }}
    {{ .Scratch.Delete "words1" }}
{{ end }}