{{ .Scratch.Set "word1" (.Get "word1") }}
{{ .Scratch.Set "strong" (.Get "strong") }}
{{ .Scratch.Set "word2" (.Get "word2") }}
{{ .Scratch.Set "text-class" (.Get "text-class") }}
{{ .Scratch.Set "strong-class" (.Get "strong-class") }}

{{ $word1 := default "" (.Scratch.Get "word1") }}
{{ $strong := default "" (.Scratch.Get "strong") }}
{{ $word2 := default "" (.Scratch.Get "word2") }}
{{ $opt_class := default "" (.Scratch.Get "text-class") }}
{{ $opt_class_strong := default "" (.Scratch.Get "strong-class") }}

<p class="{{ $opt_class }}">{{ $word1 }}<br><strong class="{{ $opt_class_strong }}">{{ $strong }}</strong>{{ $word2 }}</p>

{{ .Scratch.Delete "strong-class" }}
{{ .Scratch.Delete "text-class" }}
{{ .Scratch.Delete "word2" }}
{{ .Scratch.Delete "strong" }}
{{ .Scratch.Delete "word1" }}